<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="psc-card-service-provider" />
	
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="zookeeper://127.0.0.1:2181" />
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20882" accepts="2000"
		host="127.0.0.1" />
	<!-- 服务调用超时设置为8秒,超时不重试 -->
	<dubbo:provider retries="0" timeout="15000">
		<dubbo:parameter key="shutdown.timeout" value="1000" />
	</dubbo:provider>

	<!-- =================================接口注册================================= -->
	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service interface="cn.wellcare.api.card.ICardEmpolyeeService" ref="cardEmpolyeeService" />
	<dubbo:service interface="cn.wellcare.api.card.ICardRegInfoService" ref="cardRegInfoService" />
	<dubbo:service interface="cn.wellcare.api.card.ICardBatchchargeService" ref="cardBatchchargeService" />
	<dubbo:service interface="cn.wellcare.api.card.ICardBatchregDetailService" ref="cardBatchregDetailService" />
	<dubbo:service interface="cn.wellcare.api.card.ICardBatchregService" ref="cardBatchregService" />
	<dubbo:service interface="cn.wellcare.api.card.ICardCardinfoService" ref="cardCardinfoService" />
	<dubbo:service interface="cn.wellcare.api.card.ICardChargeService" ref="cardChargeService" />
	<dubbo:service interface="cn.wellcare.api.card.ICardOperateService" ref="cardOperateService" />
	
</beans>