<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace和dao对应  -->
<mapper namespace="cn.wellcare.dao.acc.PscPiAccDao">
	<resultMap id="PscPiAccResult" type="cn.wellcare.entity.acc.PscPiAcc">
			<result property="amtAcc" column="amt_acc" />
			<result property="codeAcc" column="code_acc" />
			<result property="createTime" column="create_time" />
			<result property="creator" column="creator" />
			<result property="creditAcc" column="credit_acc" />
			<result property="delFlag" column="del_flag" />
			<result property="euStatus" column="eu_status" />
			<result property="modifier" column="modifier" />
			<result property="modityTime" column="modity_time" />
			<result property="note" column="note" />
			<result property="pkPi" column="pk_pi" />
			<result property="pkPiacc" column="pk_piacc" />
			<result property="pwd" column="pwd" />
			<result property="unavailableAcc" column="unavailable_acc" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="PscPiAccResult">
		select
			amt_acc,
			code_acc,
			create_time,
			creator,
			credit_acc,
			del_flag,
			eu_status,
			modifier,
			modity_time,
			note,
			pk_pi,
			pk_piacc,
			pwd,
			unavailable_acc
		from psc_pi_acc
		where pk_piacc = #{pkPiacc}
	</select>
	
	<select id="getCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from psc_pi_acc t1
		<include refid="whereConditions" />
	</select>
	
	<select id="getList" resultType="cn.wellcare.entity.acc.PscPiAcc">
		select 
			amt_acc,
			code_acc,
			create_time,
			creator,
			credit_acc,
			del_flag,
			eu_status,
			modifier,
			modity_time,
			note,
			pk_pi,
			pk_piacc,
			pwd,
			unavailable_acc
		from psc_pi_acc
		<include refid="whereConditions" />
	</select>
	
	<!-- 查询条件 -->
	<sql id="whereConditions">
		where 1=1
		<trim  suffixOverrides="," >
		<if test="amtAcc != null"  > 
			and amt_acc= #{amtAcc}
		</if>
		<if test="codeAcc != null"  > 
			and code_acc= #{codeAcc}
		</if>
		<if test="createTime != null"  > 
			and create_time= #{createTime}
		</if>
		<if test="creator != null"  > 
			and creator= #{creator}
		</if>
		<if test="creditAcc != null"  > 
			and credit_acc= #{creditAcc}
		</if>
		<if test="delFlag != null"  > 
			and del_flag= #{delFlag}
		</if>
		<if test="euStatus != null"  > 
			and eu_status= #{euStatus}
		</if>
		<if test="modifier != null"  > 
			and modifier= #{modifier}
		</if>
		<if test="modityTime != null"  > 
			and modity_time= #{modityTime}
		</if>
		<if test="note != null"  > 
			and note= #{note}
		</if>
		<if test="pkPi != null"  > 
			and pk_pi= #{pkPi}
		</if>
		<if test="pkPiacc != null"  > 
			and pk_piacc= #{pkPiacc}
		</if>
		<if test="pwd != null"  > 
			and pwd= #{pwd}
		</if>
		<if test="unavailableAcc != null"  > 
			and unavailable_acc= #{unavailableAcc}
		</if>
		</trim>
	</sql>
	
	<delete id="del">
        delete from psc_pi_acc where id = #{id}
	</delete>
	
	<update id="update" parameterType="cn.wellcare.entity.acc.PscPiAcc">
        update psc_pi_acc
    	<set>
			<if test="amtAcc != null">amt_acc= #{amtAcc},</if>
			<if test="codeAcc != null">code_acc= #{codeAcc},</if>
			<if test="createTime != null">create_time= #{createTime},</if>
			<if test="creator != null">creator= #{creator},</if>
			<if test="creditAcc != null">credit_acc= #{creditAcc},</if>
			<if test="delFlag != null">del_flag= #{delFlag},</if>
			<if test="euStatus != null">eu_status= #{euStatus},</if>
			<if test="modifier != null">modifier= #{modifier},</if>
			<if test="modityTime != null">modity_time= #{modityTime},</if>
			<if test="note != null">note= #{note},</if>
			<if test="pkPi != null">pk_pi= #{pkPi},</if>
			<if test="pkPiacc != null">pk_piacc= #{pkPiacc},</if>
			<if test="pwd != null">pwd= #{pwd},</if>
			<if test="unavailableAcc != null">unavailable_acc= #{unavailableAcc}</if>
	    </set>
        where pk_piacc = #{pkPiacc}
	</update>
	
	<insert id="save" parameterType="cn.wellcare.entity.acc.PscPiAcc" useGeneratedKeys="true" keyProperty="pkPiacc" keyColumn="pk_piacc">
		insert into 
			psc_pi_acc
		(
			amt_acc,
			code_acc,
			create_time,
			creator,
			credit_acc,
			del_flag,
			eu_status,
			modifier,
			modity_time,
			note,
			pk_pi,
			
			pwd,
			unavailable_acc
		)
		values
		(
			#{amtAcc},
			#{codeAcc},
			#{createTime},
			#{creator},
			#{creditAcc},
			#{delFlag},
			#{euStatus},
			#{modifier},
			#{modityTime},
			#{note},
			#{pkPi},
			
			#{pwd},
			#{unavailableAcc}
		)
	</insert>
	
</mapper>