.icon-usergrp{
	background:url(../img/icons/usergrp.png) no-repeat;
}
.icon-sys{
	background:url(../img/icons/sys.png) no-repeat;
}
.icon-code{
	background:url(../img/icons/code.png) no-repeat;
}
.icon-manual{
	background:url(../img/icons/manual.png) no-repeat;
}
.icon-boot{
	background:url(../img/icons/boot.png) no-repeat;
}
.icon-cache{
	background:url(../img/icons/cache.png) no-repeat;
}
.icon-start{
	background:url(../img/icons/start.png) no-repeat;
}
.icon-pause{
	background:url(../img/icons/pause.png) no-repeat;
}
.icon-test{
	background:url(../img/icons/test.png) no-repeat;
}
.icon-look{
	background:url(../img/icons/look.png) no-repeat;
}
.icon-find{
	background:url(../img/icons/find.png) no-repeat;
}
 .sysMana{
    background:url(../img/sysMana.png) no-repeat;width:32px;height:32px;
}
 .transMana{
    background:url(../img/transMana.png) no-repeat;width:32px;height:32px;
}
 .userMana{
    background:url(../img/userMana.png) no-repeat;width:32px;height:32px;
}