<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="schedulerJob" class="cn.wellcare.scheduler.SchedulerJob" />

	<!-- 定时任务系统自动取消24小时没有付款订单 -->
	<bean id="jobSystemCancelOrder"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="schedulerJob" />
		<property name="targetMethod" value="cancelOrder" />
	</bean>
	<bean id="jobSystemCancelOrderTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="jobSystemCancelOrder" />
		</property>
		<property name="cronExpression">
			<value>0 0 2/23 * * ?</value>
		</property>
	</bean>

	<bean id="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="jobSystemCancelOrderTrigger" />
			</list>
		</property>
		<property name="taskExecutor" ref="executor" />
	</bean>
	
	<bean id="executor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="500" />
	</bean>
</beans>